
 body{
    background-image: url("field.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

} 

img{
    width: 100px;
}
#play{
    position:absolute;
}
button{
    position:absolute;
    right:100px;
    bottom:10px;
    width:100px;
    height:50px;
    background-color: brown;
}